.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

.head {
  font-weight: bold;
}

.head + .body .row .cell {
  border-top: 1px solid #ddd;
}

.row + .row .cell {
  border-top: 1px solid #ddd;
}

.cell + .cell {
  border-left: 1px solid #ddd;
}

.cell {
  padding: 6px;
}

.head .row:first-child .cell {
  border-top: 1px solid #ddd;
}

.head .row .cell:first-child {
  border-top-left-radius: 6px;
}

.head .row .cell:last-child {
  border-top-right-radius: 6px;
}

.row:first-child .cell {
  border-top: 1px solid #ddd;
}

.row .cell:first-child {
  border-left: 1px solid #ddd;
}

.row .cell:last-child {
  border-right: 1px solid #ddd;
}

.body .row:last-child .cell {
  border-bottom: 1px solid #ddd;
}

.body .row:last-child .cell:first-child {
  border-bottom-left-radius: 6px;
}

.body .row:last-child .cell:last-child {
  border-bottom-right-radius: 6px;
}
